@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'mhead';
  src: url('/fonts/aileron-black-webfont.woff2') format('woff2'),
       url('/fonts/aileron-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



body {
  
  color: #222222
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

